@import url(/css/common/reset.css);
@import url(/css/common/header.css);
@import url(/css/common/footer.css);
/* .conatiner */
.container{
    width: 100%;
}
/* .container > .deatil */
.container .detail{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    box-sizing: border-box;
}
.container .detail .detail-con{
    flex-basis: 1300px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.container .detail .detail-con .title{
    border-bottom: 4px solid #cccccc;
    text-align: start;
    /* font-size: 25px; */
    padding: 5px;
}
