<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>write</title>
  <link rel="stylesheet" th:href="@{/css/product/write.css}">
  <script th:src="@{/js/product/write.js}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>

</head>
<body>
<div class="container">
  <form action="/product/write" id="product-form" method="post" enctype="multipart/form-data">

    <input type="file" id="fileInput" style="display: none;" multiple>
    
    <div class="image-container" id="image-container">
      <div class="image-dropbox-description-box">
        <div class="image-dropbox-description">클릭이나 드래그로 이미지를 첨부</div>
      </div>
      <ul class="image-preview-box-container" id="image-preview-box-container">
      </ul>
    </div>

    상품명: <input type="text" name="productName"> <br>
    상품색상: <input type="text" name="productColor"> <br>
    상품사이즈: <input type="text" name="productSize"> <br>
    상품설명: <textarea name="productDescription" cols="30" rows="10"></textarea> <br>
    상품작성자: <input type="text" name="productWriter"> <br>
    상품가격: <input type="text" name="productPrice"> <br>
    상품노출여부:
    <label for="displayTrue">Y</label>
    <input type="radio" id="displayTrue" name="isProductDisplayed" value="true" checked>
    <label for="displayFalse">N</label>
    <input type="radio" id="displayFalse" name="isProductDisplayed" value="false"> <br>

    <input type="submit" value="판매글작성">

  </form>
</div>
</body>
</html>