<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Write</title>
</head>
<body>
<form action="/product/write" method="post">
  상품명: <input type="text" name="productName"> <br>
  상품색상: <input type="text" name="productColor"> <br>
  상품사이즈: <input type="text" name="productSize"> <br>
  상품설명: <textarea name="productDescription" cols="30" rows="10"></textarea> <br>
  상품작성자: <input type="text" name="productWriter"></input> <br>
  상품노출여부:
  <label for="displayTrue">Y</label>
  <input type="radio" id="displayTrue" name="productDisplay" value="true">
  <label for="displayFalse">N</label>
  <input type="radio" id="displayFalse" name="productDisplay" value="false"> <br>
  <input type="submit" value="판매글작성">
</form>
</body>
</html>