@charset "UTF-8";
.chat{
    width: 100%;
    border: 2px red;
}
#chatbot{
    border: 2px yellow;
}
.chat .chatbot dl{
    border: 2px orange;
}
.chat .chatbot .chat-nav dl dt{

    border: 2px gray;
}