<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항 목록 페이지</title>
    <link rel="stylesheet" th:href="@{/css/notice/searchlist.css}">
</head>
<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>
<div class="List">
    <div class="List-con">
        <div class="List-title">
            <div class="title">
                <h2> 검색결과 </h2>
                <table>
                    <tr>
                        <td th:text="${param.search}"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="search">
            <form th:action="@{/notice/search}" method="get">
                <select name="select" id="select">
                    <option th:value="''">전체</option>
                    <option th:value="title">제목</option>
                </select>
                <input type="text" name="search" id="search" th:value="${param.search}" placeholder="검색어를 입력하세요.">
                <input type="submit" value="검색">
            </form>
        </div>
        <div class="type">
            <table>
                <thead>
                <tr th:each="notice: ${noticeList}">
                    <td><a href="">전체</a></td>
                    <td><a href="">상품</a></td>
                    <td><a href="">배송</a></td>
                    <td><a href="">이벤트</a></td>
                    <td><a th:href="@{/notice/list/{type}(type=${notice.notType})}">공휴일</a></td>
                </tr>
                </thead>
            </table>
        </div>
        <table>
            <thead>
            <tr>
                <th>구분</th>
                <th class="title">제목</th>
                <th>작성자</th>
                <th>생성시간</th>
                <th>수정시간</th>
                <th>조회수</th>
                <th>≖‿≖</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="notice: ${noticeList}">
                <td th:text="${notice.notType}"></td>
                <td th:text="${notice.noticeTitle}"></td>
                <td th:text="${notice.notWriter}"></td>
                <td th:text="${#temporals.format(notice.createTime,'yyyy.MM.dd')}"></td>
                <td th:text="${#temporals.format(notice.updateTime,'yyyy.MM.dd')}"></td>
                <td th:text="${notice.notHit}"></td>
                <td><a th:href="@{/notice/detail/{id}(id=${notice.notId})}">상세보기</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<div th:replace="~{fragments/common/footer :: footerFragment}"></div>
</html>