<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항 수정 페이지</title>
    <link rel="stylesheet" th:href="@{/css/notice/update.css}">
   <script th:src="@{/js/notice/write.js}" defer="defer"></script>
</head>
<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>
<div class="container">
    <div class="update">
        <div class="update-con">
            <div class="title">
                <h1>공지사항 수정</h1>
            </div>
            <div class="update-form">
                <form th:action="@{/notice/update/{id}(id=${noticeDto.notId})}" method="post" accept-charset="utf-8">
                    <ul>
                       <li>
                           <label>구분</label>
                           <select name="Type" id="notType" th:field="${noticeDto.notType}">
                               <option th:value="''" disabled> ----- 선택하세요 ----- </option>
                               <option th:value="'product'">상품</option>
                               <option th:value="'delivery'">배송</option>
                               <option th:value="'holiday'">공휴일</option>
                               <option th:value="'event'">이벤트</option>
                           </select>
                       </li>
                       <li>
                            <label th:for="notWriter">작성자</label>
                            <input type="text" name="notWriter" th:value="${noticeDto.notWriter}" readonly class="readonly">
                        </li>
                        <!-- <li>
                            <label th:for="notId"></label>
                            <input type="hidden" name="notId" th:value="${noticeDto.notId}" readonly class="readonly">
                        </li> -->
                        <li>
                            <label th:for="notTitle">제목</label>
                            <input type="text" name="noticeTitle" th:value="${noticeDto.noticeTitle}" class="writeInput">
                        </li>
                        <li class="contentLi">
                            <div class="content">
                                <label th:for="noticeContent" class="contentLabel">내용</label>
                            </div>
                           <textarea th:text="${noticeDto.noticeContent}" th:value="${noticeDto.noticeContent}" name="noticeContent" id="contentText" class="writeInput"></textarea>
                        </li>
                        <li>
                            <label th:for="notHit">조회수</label>
                            <input type="text" name="notHit" th:value="${noticeDto.notHit}" readonly>
                        </li>
<!--                        <li>-->
<!--                            <label th:for="CreateTime">작성시간</label>-->
<!--                            <input type="text" name="CreateTime" th:value=""${#temporals.format(noticeDto.CreateTime,'yyyy년 MM월 dd일 hh시 mm분')}"" readonly>-->
<!--                        </li>-->
                    </ul>
                    <ul>
                        <li class="Btn">
                            <div class="button">
                                <input type="submit" value="수정하기">
                                <input type="reset" value="취소">
                                <a th:href="@{/notice/list?page=0&select=&search=}" class="list">LIST</a>
                                <input type="hidden" name="notId" th:value="${noticeDto.notId}" readonly>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
            <!--댓글-->
            <div class="reply-con">
                <div class="reply-write">
                    <form action="@{/notice/}">
                        <!-- 번호 -->
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="~{fragments/common/footer :: footerFragment}"></div>
</html>