<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 확인</title>
    <link rel="stylesheet" th:href="@{/css/member/confirmPassword.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/member/confirmPw_confirmPassword.js/}" defer="defer"></script>
</head>
<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>
<div class="container">
    <div class="confirm">
        <div class="confirm-con">
            <div class="title">
                <h1>비밀번호 확인</h1>
            </div>
            <div class="confirm-form">
                <form th:action="@{/member/confirmPassword}" method="post">
                    <ul>
                        <li class="password">
                            <input type="hidden" name="memberId" id="memberId" th:value="${memberId}">
                            <div class="password-group">
                                <label th:for="currentPassword">비밀번호</label>
                                <div class="writeP">
                                    <input type="password" name="currentPassword" id="currentPassword" placeholder="비밀번호를 입력해주세요" required="required">
                                    <button type="button" id="checkCurrentPasswordBtn">비밀번호 확인</button>
                                </div>
                            </div>
                            <div class="password-feedback">
                                <div id="currentPasswordMessage" style="color: red;"></div>
                            </div>
                        </li>
                        <li class="change">
                            <button type="submit" id="changePasswordBtn">비밀번호 변경</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="~{fragments/common/footer :: footerFragment}"></div>
</html>
