<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>detail</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script th:src="@{/js/member/detail.js}" defer="defer"></script>
  <style>
    /* 미리보기 이미지 스타일 */
    #image-preview {
      max-width: 100px;
      max-height: 100px;
      border: 1px solid #ccc;
      border-radius: 50%; /* 50%로 설정하여 원형 모양으로 만듭니다. */
      overflow: hidden; /* 넘치는 부분은 숨깁니다. */
    }
  </style>
</head>
<body>
<div class="detail">
  <h1 class="title"><span th:text="${member.memberNickName}" ></span>님 상세정보</h1>
  <!-- 이미지 미리보기 영역 -->
  <div id="image-preview"><img id="preview-image" th:src="${memberImageUrl}" alt="프로필 이미지" style="width: 100px; height: 100px;"></div>
  <button onclick="redirectToURL()">프로필 이미지 수정</button>
  <span th:if="${false}" th:text="${member.memberId}"></span> <br> <!-- th:if="${false}" 입력 시 안보이게 처리 -->
  <span th:if="${false}" :text="${member.memberPassword}"></span> <br>
  이메일 : <span th:text="${member.memberEmail}"></span> <br>
  이름 : <span th:text="${member.memberName}"></span> <br>
  닉네임 : <span th:text="${member.memberNickName}"></span> <br>
  휴대전화 : <span th:text="${member.memberPhone}"></span> <br>
  생년월일 : <span th:text="${member.memberBirth}" id="memberBirthSpan"></span>
  <!-- 오류 메시지를 표시할 영역 -->
  <span id="birthErrorMessage" style="color: red;"></span> <br>
<!--  주소 : <span th:text="${member.memberStreetAddress + ', ' + member.memberDetailAddress}"></span> <br>-->
  주소 : <span th:text="${member.memberStreetAddress + ', ' + member.memberDetailAddress}" th:class="${member.memberStreetAddress == null ? 'error' : ''}"></span>
  <span th:if="${member.memberStreetAddress == null}" style="color: red;">주소를 입력해주세요</span> <br>
  권한 : <span th:text="${member.role}"></span> <br>
  가입일 : <span th:text="${#temporals.format(member.createTime, 'yyyy-MM-dd HH:mm:ss')}"></span> <br>
  <a th:href="@{/member/update/{memberId}(memberId=${member.memberId})}">수정</a>
  <a th:href="@{/member/confirmEmail/{memberId}(memberId=${member.memberId})}">삭제</a>
</div>
<!-- Thymeleaf 표현식을 사용하여 memberId를 JavaScript 변수에 할당 -->
<script th:inline="javascript">
    var memberId = /*[[${member.memberId}]]*/ null;
</script>
<!-- 이동 버튼 클릭 시 지정된 URL로 이동 -->
<script>
function redirectToURL() {
     if (memberId !== null) {
       var dynamicURL = "/member/updateImage/" + memberId;
       window.location.href = dynamicURL;
     }
}
</script>
</body>
</html>