<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원목록 선택페이지</title>
    <link rel="stylesheet" th:href="@{/css/member/list.css}">
</head>
<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>
    <div class="container">
        <div class="nav">
            <!-- admin page header,sidebar 연결 -->
            <div class="button">
                <div class="paginglist">
                    <a th:href="@{/member/pagingList?page=0&subject=&search=}">회원목록</a>
                </div>
                <div class="semilist">
                    <a th:href="@{/semiMember/pagingList?page=0&subject=&search=}">간편회원목록</a>
                </div>
            </div>
        </div>
    </div>
<div th:replace="~{fragments/common/footer :: footerFragment}"></div>
</body>
</html>