<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>update</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script th:src="@{/js/member/updateValid.js}" defer="defer"></script>
</head>
<body>
<!--<div th:replace="~{fragments/common/header :: headerFragment}"></div>-->
<div class="update">
  <h1 class="title"><span th:text="${memberDto.memberName}" ></span>님 정보 수정</h1>
  <form th:action="@{/member/update}" method="post" th:object="${memberDto}" onsubmit="return onSubmitForm()">
    <ul>
      <li>
       아이디 : <input type="text" name="memberId" th:value="${memberDto.memberId}" id="memberId" readonly> <br>
      </li>
      <li>
       이메일 : <input type="email" name="memberEmail" th:value="${memberDto.memberEmail}" id="memberEmail" readonly> <br>
      </li>
      <li>
        비밀번호 : <input type="password" name="memberPassword" th:value="${memberDto.memberPassword}" id="memberPassword" readonly> <br>
      </li>
      <li>
        <label th:for="memberName">이름</label>
        <input type="text" th:field="*{memberName}" th:value="${memberDto.memberName}" required="required" placeholder="이름을 입력하세요"> <br> <!-- required 추가 시 값 꼭 입력해야함 -->
      </li>
      <p th:if="${#fields.hasErrors('memberName')}" th:errors="*{memberName}" class="error"></p>
      <li>
        <label th:for="memberNickName">닉네임</label>
        <input type="text" th:field="*{memberNickName}" th:value="${memberDto.memberNickName}" required="required" placeholder="이름을 입력하세요" th:data-original-value="${memberDto.memberNickName}"> <br> <!-- required 추가 시 값 꼭 입력해야함 -->
      </li>
      <p th:if="${#fields.hasErrors('memberNickName')}" th:errors="*{memberNickName}" class="error"></p>
      <li>
        <label th:for="memberPhone">휴대전화</label>
        <input type="text" th:field="*{memberPhone}" th:value="${memberDto.memberPhone}" required="required" placeholder="이름을 입력하세요"> <br> <!-- required 추가 시 값 꼭 입력해야함 -->
      </li>
      <p th:if="${#fields.hasErrors('memberPhone')}" th:errors="*{memberPhone}" class="error"></p>
      <li>
        <label th:for="memberBirth">생년월일</label>
        <input type="text" th:field="*{memberBirth}" th:value="${memberDto.memberBirth}" required="required" placeholder="이름을 입력하세요"> <br> <!-- required 추가 시 값 꼭 입력해야함 -->
      </li>
      <p th:if="${#fields.hasErrors('memberBirth')}" th:errors="*{memberBirth}" class="error"></p>
      <li>
        <label th:for="memberAddress">주소</label>
        <input type="text" th:field="*{memberAddress}" th:value="${memberDto.memberAddress}" required="required" placeholder="이름을 입력하세요"> <br> <!-- required 추가 시 값 꼭 입력해야함 -->
      </li>
      <p th:if="${#fields.hasErrors('memberAddress')}" th:errors="*{memberAddress}" class="error"></p>
      <li>
        <label th:for="role">권한</label>
        <input type="text" th:field="*{role}" th:value="${memberDto.role}" readonly> <br>
      </li>
    <input type="submit" value="수정실행">
    </ul>
  </form>
  <a href="javascript:history.back()">수정취소</a>
  <!--  <a th:href="@{/member/changePassword/{memberId}(memberId=${member.memberId})}">비밀번호 변경</a>-->
  <a th:href="@{/member/confirmPassword/{memberId}(memberId=${memberDto.memberId})}">비밀번호 변경</a>
</div>
</body>
</html>
<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>update</title>-->
<!--  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<!--  <script th:src="@{/js/updateValid.js}" defer="defer"></script>-->
<!--</head>-->
<!--<body>-->
<!--<div th:replace="~{fragments/header :: headerFragment}"></div>-->
<!--<div class="update">-->
<!--  <h1 class="title"><span th:text="${memberDto.memberName}" ></span>님 정보 수정</h1>-->
<!--  <form th:action="@{/member/update}" method="post" onsubmit="return onSubmitForm();">-->
<!--    아이디 : <input type="text" name="memberId" th:value="${memberDto.memberId}" id="memberId" readonly> <br>-->
<!--    이메일 : <input type="email" name="memberEmail" th:value="${memberDto.memberEmail}" id="memberEmail" readonly> <br>-->
<!--    비밀번호 : <input type="password" name="memberPassword" th:value="${memberDto.memberPassword}" id="memberPassword" readonly> <br>-->
<!--    이름 : <input type="text" name="memberName" th:value="${memberDto.memberName}" required="required" placeholder="이름을 입력하세요"> <br> &lt;!&ndash; required 추가 시 값 꼭 입력해야함 &ndash;&gt;-->
<!--    닉네임 : <input type="text" name="memberNickName" th:value="${memberDto.memberNickName}" required="required" placeholder="닉네임을 입력하세요" th:data-original-value="${memberDto.memberNickName}"> <br> &lt;!&ndash; 정보 수정 시 nickName값 비교 위해 사용 &ndash;&gt;-->
<!--    휴대전화 : <input type="text" name="memberPhone" th:value="${memberDto.memberPhone}" required="required" placeholder="휴대전화번호를 입력하세요"> <br>-->
<!--    생년월일 : <input type="text" name="memberBirth" th:value="${memberDto.memberBirth}" required="required" placeholder="생년월일을 입력하세요"> <br>-->
<!--    주소 : <input type="text" name="memberAddress" th:value="${memberDto.memberAddress}" required="required" placeholder="주소를 입력하세요"> <br>-->
<!--    권한 : <input type="text" name="role" th:value="${memberDto.role}" readonly> <br>-->
<!--    <input type="submit" value="수정실행">-->
<!--  </form>-->
<!--  <a href="javascript:history.back()">수정취소</a>-->
<!--  &lt;!&ndash;  <a th:href="@{/member/changePassword/{memberId}(memberId=${memberDto.memberId})}">비밀번호 변경</a>&ndash;&gt;-->
<!--  <a th:href="@{/member/confirmPassword/{memberId}(memberId=${memberDto.memberId})}">비밀번호 변경</a>-->
<!--  </form>-->
<!--</div>-->
<!--</body>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
