@import url(/css/common/reset.css);

  .header{
    height: 80px;
    padding: 20px;
    background-color: #627de6c3;
    border-bottom: #627de6c3;

  }

  .header .top-nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  .header .top-nav .logo{
    width: 40%;
  }

  .header .top-nav ul{
    display: flex;
    width: 30%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .header .top-nav ul li{
    padding : 5px;
    width: 100px;
    text-align: center;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #8C9CDB;
    border-radius: 10px;
    box-sizing: border-box;
  }
  .header .top-nav ul li:hover{
    color: #cccccc;;
  }

