@import url(/css/common/reset.css);

  :root {
    --side-bar-width: 200px;
    --side-bar-height: 100vh;
  }


  .sideBar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: unset;
    gap: 100px;
    padding: 10px;
    background-color: #627de6c3;

    transform: translate(calc(var(--side-bar-width) * -0.9), 0);  /* X축 이동, Y축 고정 */
    transition: .5s;
    position: fixed;    /* 스크롤을 따라오도록 지정 */
    width: var(--side-bar-width); /*변수를 통해 사이드바 넒이 조정*/
    min-height: var(--side-bar-height);   /*사이드바 높이 조정*/

    /* height: 1000px; 사이드바 길이 설정하기 */

  }

  .sideBar .loginInfo>ul>li span{
    font-size: 18px;
    color: white;
  }

  .sideBar > .sideBar-sec{
    padding: 10px;
  }
  .sideBar > .sideBar-sec > ul > li {
    position: relative;
  }

  .sideBar > .sideBar-sec > ul > li:after {
          content: "";
          display: block;
          width: 60px;
          border-bottom: 1px solid #bcbcbc;
          /* margin: 20px auto; */
        }

  .sideBar > .sideBar-sec > ul{
    padding: 10px;
  }

  .sideBar > .sideBar-sec > ul > li > ul{
    display: none;
  }

  .sideBar > .sideBar-sec > ul li{
    margin-bottom: 25px;
  }

  .sideBar > .sideBar-sec > ul > li:hover > ul  {
    display: block;
    position: absolute;
    background-color: #627de6;
    top: 0;         /* 2차 메뉴의 상단을 1차 메뉴의 상단에 고정 */
    left: 100%;     /* 2차 메뉴를 1차 메뉴의 너비만큼 이동 */
    width: 150%;    /* 1차 메뉴의 너비를 상속 */
    text-align: center;
  }

  .sideBar > *{
    position: relative;

  }

  .sideBar:hover {
    transform: translate(1px, 0);   /* 둥근 모서리의 너비만큼 X축 이동, Y축 고정 */
  }