@import url(/css/common/reset.css);
@import url(/css/admin/common/header.css);
@import url(/css/admin/common/sidebar.css);

.main{
    padding: 100px;
    /* display: flex;
    justify-content: space-around; */
}
.main .title{
    width: auto;
    padding: 10px;
}
.main .title .main-title{
    border-bottom: 2px solid #cccccc;
}
.main .main-section1{
    justify-content: space-around;
    display: flex;
}
/* image */

.main .main-section1 .image{
    width: 300px;
    height: 400px;
    border: 2px solid #627de6c3;
}
.main .main-section1 .item-form{
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
}
.main .main-section1 .item-form ul{
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border: 2px solid green; */
}
.main .main-section1 .item-form ul>li{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid blue; */
}
.main .main-section1 .item-form ul>li label{
    padding: 10px;
    line-height: 50px;
    flex: 1;
    width: 100px;
    height: 30px;
    font-size: 30px;
    font-weight: bold;
    border-right: 2px solid #c5c5c5;;
}
.main .main-section1 .item-form ul>li span{
    flex: 3;
    padding: 10px;
    line-height: 50px;
    font-size: 20px;
} 
.main .main-section1 .item-form ul>li textarea{
    flex: 3;
    line-height: 50px;
    font-size: 20px;
    padding: 10px;
    resize: none;
    background: transparent;
    outline: none;
    font-size: 20px;
} 