<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>챗봇!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
    <script th:src="@{/js/chatbot/chat.js}" type="text/javascript" defer="defer"></script>
</head>
<body>
<div id="chat">
    <div id="chat-bot">
        <dl id="chat-disp">
            <dt id="chat-header">
                <span>집사</span>
                <span class="btn-wrap">
                    <button type="button" id="btn-chat-close" onclick="disconnect()">X</button>
                </span>
            </dt>
            <dd id="chat-content">

            </dd>
            <dd id="chat-question" class="flex between">
                <span class="flex column center"><i></i></span>
                <input type="text" id="question" placeholder="질문을 입력하세요">
                <button type="button" id="btn-msg-sand" onclick="msgSendClickFn()">전송</button>
            </dd>
        </dl>
    </div>
</div>
</body>
</html>