@import url(/css/common/reset.css);
@import url(/css/common/header.css);
@import url(/css/common/footer.css);
/* container */
.container{
    width: 100%;
}
.container .join{
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}
.container .join .join-con{
    flex-basis: 800px;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 50px;
}
.container .join .join-con .title{
    padding: 20px;
    gap: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #7285d3a4;
}
/* button */
.container .join .join-con .button{
    height: 20px;
    display: flex;
    justify-content: center;
    padding: 30px;
    box-sizing: border-box;
    align-items: center;
}
/*  일반 회원가입 버튼 */
.container .join .join-con .button .joinBtn{
    position: relative;
    display: inline-block;
    font-size: 22px;
    padding: 20px 60px;
    color: white;
    margin: 20px 10px 10px;
    border-radius:10px;
    text-align: center;
    transition: top .01s linear;
    text-shadow: 0 1px 0 #19244F;  

    background-color: #5870CB;
    box-shadow: 0 0 0 1px #1d2a5ca9 inset,
          0 0 0 2px #3E5AC3 inset,
          0 8px 0 0 #7286D3,
          0 8px 0 1px #111835,
          0 8px 8px 1px #111835;
}
.container .join .join-con .button .joinBtn:hover{
    background-color: #7285d3;
}
.container .join .join-con .button .joinBtn:active{
    top: 9px;
}
/* 간편 회원가입 버튼 */
.container .join .join-con .button .semijoinBtn{
    position: relative;
    display: inline-block;
    font-size: 22px;
    padding: 20px 60px;
    color: white;
    margin: 20px 10px 10px;
    border-radius: 10px;
    text-align: center;
    transition: top .01s linear;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);  

    background-color: #5870CB;
    box-shadow: 0 0 0 1px #1d2a5ca9 inset,
          0 0 0 2px #3E5AC3 inset,
          0 8px 0 0 #7286D3,
          0 8px 0 1px #111835,
          0 8px 8px 1px #111835;
}
.container .join .join-con .button .semijoinBtn:hover{
    background-color: #7285d3;
}
.container .join .join-con .button .semijoinBtn:active{
    top: 9px;
}