<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List</title>
  <link rel="stylesheet" th:href="@{/css/product/detail.css}">
  <link rel="stylesheet" href="maincss.css">
</head>
<body>
    <div class="header">
      <div class="nav">
        <div class="top-nav">

        </div>
        <div class="bottom-nav">

        </div>
      </div>
    </div>

   <div class="main">
      <div class="main-section1">
        <div class="main-title">
          <span>상품 상세보기</span>
        </div>
        <div class="item-info">
          <table class="item-info-table">
            <th>제목</th>
            <th>색상</th>
            <th>설명</th>
            <th>노출 여부</th>
            <th>가격</th>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="footer">
      <ul>
        <li>

        </li>
      </ul>
    </div>
</body>
</html>