<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/baseLayout}"
>
<th:block layout:fragment="title">
    <title>Cloth Keeper</title>
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/main/mainSlider.css}">
</th:block>
<th:block layout:fragment="script">
      <script th:src="@{/js/main/mainSlider.js}" defer></script>
</th:block>
<th:block layout:fragment="container">
    <div class="container">
        <div class="index">
            <div class="index-con">
                <div class="sections">
                    <div class="section-sec1">
                        <div class="con">
                            AUTOGALLERY
                        </div>
                    </div>
                    <div class="section-sec2">
                        <div class="con">
                            <div id="slideShow">
                                <ul class="slides">
                                    <li><img src="images/mainSilderImg/main-silder-item1.jpg" alt="no img"></li>
                                    <li><img src="images/mainSilderImg/main-silder-item2.jpg" alt="no img"></li>
                                    <li><img src="images/mainSilderImg/main-silder-item3.jpg" alt="no img"></li>
                                    <li><img src="images/mainSilderImg/main-silder-item4.png" alt="no img"></li>
                                    <li><img src="images/mainSilderImg/main-silder-item5.jpg" alt="no img"></li>
                                </ul>
                                <p class="controller">

                                    <!-- &lang: 왼쪽 방향 화살표
                                    &rang: 오른쪽 방향 화살표 -->
                                    <span class="prev">&lang;</span>
                                    <span class="next">&rang;</span>
                                </p>
                            </div>
                            <div class="sub2">

                            </div>
                            <div class="sub3">

                            </div>
                            <div class="sun4">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
