 @import url(/css/common/reset.css);\
.container{
        width: 100%;
    }
    .container .payment{
        margin: 0 auto;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .container .payment .title{
        padding: 20px
        text-align: center;
        border-bottom: 2px solid #cccccc;
        margin : 0 auto;
    }
    .container .payment .form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .container .payment .form .Btn{
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    .container .payment .form .Btn a{
        border: 2px solid #c4c4c4;
        padding: 10px
        transition: all 0.3s;
        cursor: pointer;
    }
    container .payment .form .Btn a:hover{
        background-color: #cccccc;
        color: white;
    }