@import url(/css/common/reset.css);
/* @import url(/css/common/header.css);
@import url(/css/common/footer.css); */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

*{
  margin: 0;
  padding: 0;
  font-family: Pretendard, 'Malgun Gothic', sans-serif;
  font-size: 15px;
}

.--hover{
  filter: brightness(1.2);
}
.--hover2{
  border: 2px dashed #7286d3;
}
.--displayFalse {
  display: none;
}

.container {
  /* background-color: #f0f2f5; */
}



/* 공통적으로 사용되는 스타일 */
.common_inputs {
  box-sizing: border-box;
  height: 75px;
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.productInputs {
  width: 325px;
  border: 1px solid #dddddd !important;
  font-size: 1rem;
  line-height: 1.45;
  letter-spacing: -0.04rem;
  border-radius: 8px;
  padding: 16px;
}
.productInput-label {
  /* display: inline-block; */
  position: absolute;
  top: 2px;
  left: 12px;
  /* padding: 8px; */
  /* background: white; */
  font-size: 14px;
  color: #888;
  font-weight: bold;
  z-index: 1;
}
.productInput-label span {
  color: #da4841;
  vertical-align: -2px;
}
input::placeholder, textarea::placeholder {
  color: #d9d9d9;
}






.grid-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 550px 50px 360px 50px 1fr;
  grid-template-rows: 20px repeat(10, 100px);
  position: relative;
}



.gridWrapper-prev-drop {
  grid-area: 2 / 2 / 12 / 3;
  position: sticky;
  top: 20px;
  height: 675px;
  padding: 20px 0 20px 0;
}
.imagePreviewExpand-wrapper {
  display: flex;
  justify-content: center;
}
.imagePreviewExpand-box{
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  /* top: 30px; */
  width: 500px;
  height: 500px;
  box-shadow: 0px 0px 3px 0px #b1b1b1;
}
.imagePreviewExpand{
  width: 500px;
  height: 500px;
  object-fit: cover;
}
.imagePreviewExpand-alt{
  width: 200px;
  height: 200px;
  filter: 
    invert(96%) 
    sepia(0%) 
    saturate(2405%) 
    hue-rotate(71deg) 
    brightness(89%) 
    contrast(102%);
}



.imageDrop-wrapper {
  /* position: relative;
  top: 30px; */
  margin: 20px 0 20px 0;
}
.image-container {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 520px;
  min-height: 104px;
  border: 1px dashed #dddddd;
  border-radius: 8px;
  text-align: center;
  padding: 5px;
  background-image: url("/images/product/iconmonstr-picture-5-120.png");
  background-position: center 25px;
	background-repeat: no-repeat;
  background-size: 50px;
  position: relative;
  z-index: 0;
}
.image-dropbox-description-box{
  position: absolute;
  z-index: 1;
  width: inherit;
}
.image-dropbox-description{
  position: relative;
  top: 72px;
  font-size: 10px; /* 텍스트 크기 설정 */
  font-weight: normal;
  color: #8c8c8c;
}
.image-preview-box-container{
  width: 520px;
  min-height: 104px;
  display: flex;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.image-preview-box {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 2px;
}
.delete-icon {
  /* background-color: #ffffff; */
}
.delete-img {
  position: absolute;
  height: 20px;
  width: 20px;
  top: -3px;
  right: -3px;
  filter: invert(57%) 
          sepia(20%) 
          saturate(1233%) 
          hue-rotate(191deg) 
          brightness(90%) 
          contrast(81%);
  z-index: 1;
}
.delete-background{
  position: absolute;
  height: 12px;
  width: 12px;
  top: 1px;
  right: 1px;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 0;
}
.image-preview{
  width: 100px;
  height: 100px;
  border-radius: 3px;
  box-sizing: border-box;
}




/* category와 brand에서 공통적으로 사용되는 autocomplete 스타일 */
#category-autocomplete-div, #brand-autocomplete-div {
  position: absolute;
  top: 64px;  
  width: 357px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ffffff;
  z-index: 2;
}
#category-autocomplete-text-ul, #brand-autocomplete-text-ul {
  padding: 10px;
}
.autocomplete-text-li {
  font-size: 8px;
  /* left: 8px; */
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.autocomplete-active{
  background-color: #7286d3;
  color: #ffffff;
}



.grid-productCategoryName {
  grid-area: 2 / 4 / 3 / 5;
  margin: auto;
}
.productCategoryName-hole {
  position: absolute;
  height: 3px;
  width: 82px;
  top: 9px;
  left: 6px;
  background-color: #ffffff;
  z-index: 0;
}



.grid-productBrandName {
  grid-area: 3 / 4 / 4 / 5;
  margin: auto;
}
.productBrandName-hole {
  position: absolute;
  height: 3px;
  width: 70px;
  top: 9px;
  left: 6px;
  background-color: #ffffff;
  z-index: 0;
}



.grid-productName {
  grid-area: 4 / 4 / 5 / 5;
  margin: auto;
}
.productName-hole {
  position: absolute;
  height: 3px;
  width: 59px;
  top: 9px;
  left: 6px;
  background-color: #ffffff;
  z-index: 0;
}



.grid-productColor {
  grid-area: 5 / 4 / 6 / 5;
  margin: auto;
}
.productColorInputs {
  position: relative;
  width: 300px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productColorInputs input[type=radio]{
  display: none;
}
.productColorInputs input[type=radio]+label{
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%; /* 원형으로 만들기 */
  text-align: center; /* 텍스트 중앙 정렬 */
  line-height: 100px; /* 텍스트 수직 중앙 정렬 */
  position: inherit;
  top: 8px;
}
.productColorInputs input[type=radio]:checked+label{
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%; /* 원형으로 만들기 */
  text-align: center; /* 텍스트 중앙 정렬 */
  line-height: 100px; /* 텍스트 수직 중앙 정렬 */
  position: inherit;
  top: 8px;
  background-image: url("/images/product/iconmonstr-check-mark-17-24.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}
.productColorInputs input[type=radio]:checked+.--white{
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%; /* 원형으로 만들기 */
  position: inherit;
  top: 8px;
  background-image: url("/images/product/iconmonstr-check-mark-17-24-black.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}
.colorRadioBtn{
  box-shadow: 0px 0px 3px 0px #b1b1b1;
}
.--black{
  background-color: #41444B;
}
.--red{
  background-color: #EF4B4B;
}
.--pink{
  background-color: #E97777;
}-ho
.--orange{
  background-color: #EC8F6A;
}
.--yellow{
  background-color: #FFD966;
}
.--green{
  background-color: #89e28f;
}
.--skyblue{
  background-color: #AEE2FF;
}
.--navy{
  background-color: #6E85B7;
}
.--purple{
  background-color: #BEADFA;
}
.--white{
  background-color: #ffffff;
}



.grid-productSize {
  grid-area: 6 / 4 / 7 / 5;
  margin: auto;
}
.productSize-hole {
  position: absolute;
  height: 3px;
  width: 83px;
  top: 9px;
  left: 6px;
  background-color: #ffffff;
  z-index: 0;
}



.grid-productPrice {
  grid-area: 7 / 4 / 8 / 5;
  margin: auto;
}
.productPrice-hole {
  position: absolute;
  height: 3px;
  width: 71px;
  top: 9px;
  left: 6px;
  background-color: #ffffff;
  z-index: 0;
}



.grid-productDisplay {
  grid-area: 8 / 4 / 9 / 5;
  margin: auto;
}
.productDisplayInputs input[type=radio]{
  display: none;
}
.productDisplayInputs input[type=radio]+label{
  background-color: #ffffff;
  color: #888;
}
.productDisplayInputs input[type=radio]:checked+label{
  background-color: #7286d3;
  color: #ffffff;
}
.displayBtn1{
  position: relative;
  top: 8px;
  width: 100px;
  height: 33px;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  font-weight:bold;
  border-radius: 8px 0 0 8px;
  box-shadow: 0px 0px 3px 0px #b1b1b1;
  cursor: pointer;
}
.displayBtn2{
  position: relative;
  top: 8px;
  width: 100px;
  height: 33px;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  font-weight:bold;
  border-radius: 0 8px 8px 0;
  box-shadow: 0px 0px 3px 0px #b1b1b1;
  cursor: pointer;
}



.grid-productDescription {
  grid-area: 9 / 4 / 12 / 5;
  margin: auto;
}
.productDescriptionInputs {
  /* display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 360px; */
  height: 297px;
}
.productDescriptionInputs textarea {
  width: 325px;
  height: 245px;
  resize: none;
  border: 1px solid #dddddd !important;
  font-size: 1rem;
  line-height: 1.45;
  letter-spacing: -0.04rem;
  border-radius: 8px;
  padding: 16px;
}
.productInput-label2 {
  /* display: inline-block; */
  position: absolute;
  top: -7px;
  left: 12px;
  /* padding: 8px; */
  /* background: white; */
  font-size: 14px;
  color: #888;
  font-weight: bold;
  z-index: 1;
}
.productInput-label2 span {
  color: #da4841;
  vertical-align: -1px;
}
.productDescription-hole {
  position: absolute;
  height: 3px;
  width: 71px;
  top: 9px;
  left: 6px;
  background-color: #ffffff;
  z-index: 0;
}



.grid-productSubmit {
  grid-area: 12 / 4 / 13 / 5;
  margin: auto;
}
.productSubmitBtn{
  height: 75px;
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productSubmit{
  cursor: pointer;
  display: none;
}
.productSubmit-label {
  display: inline-block;
  cursor: pointer;
  width: 200px;
  height: 34px;
  background-color: #7286d3;
  text-align: center; /* 텍스트 중앙 정렬 */
  line-height: 32px; /* 텍스트 수직 중앙 정렬 */
  position: relative;
  top: 8px;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 0px 0px 3px 0px #b1b1b1;
  color: #ffffff;
  font-size: 14px;
  font-weight:bold;
}

















/* .add-image-box {
  background-color: #949494;
  color: #ffffff;

  width: 100px;
  height: 100px;
  margin: 2px;
  
  display: flex;
  justify-content: center; 
  align-items: center; 
  font-size: 10px; 
} */

/* .add-image-box-ref {
  width: 100px;
  height: 100px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* li img {
  width: 100px;
  height: 100px;
  object-fit: cover;
} */

/* li .delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
} */
























/* input[type="radio"] {
  margin-left: 2px;
  margin-right: 25px;
} */

















